# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# directories
.venv/
.pytest_cache/
.vscode/

# DB
*.sqlite3

# files
.env
*.pyc

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/